.collection_field_group{
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.collection_field_group .collection_field_border{
	background: #fff;
    border-radius: 11px;
    padding: 5px 5px 20px;
	float: left;
	margin-right: 2px;
}
.collection_field_group span.dashicons{
	cursor: pointer;
	font-size: 24px;
}
.hidden_collection{
	display: none;
}
.jcf_collection_quarterwidth{
	width: 24%;	
}
.jcf_collection_halfwidth{
	width: 48%;	
}
.jcf_collection_fullwidth{
	width: 99%;	
	margin: 0;
	float: none;
	clear: both;
}
div.jcf_edit_field .jcf_collection_quarterwidth input, 
div.jcf_edit_field .jcf_collection_quarterwidth select, 
div.jcf_edit_field .jcf_collection_quarterwidth textarea{
	width: 100% !important;
}
.clr{
	clear: both;
	height: 0;
}