table.sortable .drag-handle{
	cursor: move;
}
table.sortable  .jcf_delete_row{
	cursor: pointer;
	color: #a00;
}
table.sortable .hide{
	display:none;
}
.jcf_option_column,
.form-table .jcf-table .jcf_option_column{
	width: 60px;
}
#addtag .collection_field_group th, #addtag .collection_field_group td {
	padding: 2px;
}
.form-field .jcf-table input[type="text"]{ width:100%; }

/* right column */
#post-body.columns-2 #postbox-container-1 th.jcf_option_column{ width: 44px; }
#post-body.columns-2 #postbox-container-1 th.jcf_option_column{ text-indent: -9999px; vertical-align: middle; }
#post-body.columns-2 #postbox-container-1 .jcf-table .widefat td,
#post-body.columns-2 #postbox-container-1 .jcf-table .widefat th{ padding: 2px 3px; }
#post-body.columns-2 #postbox-container-1 .jcf-table .dashicons{ font-size: 16px; line-height: 20px; }
#post-body.columns-2 #postbox-container-1 .ui-sortable-helper .dashicons-trash{ display: none; }