div.jcf_edit_field{
	padding:0 0 10px;
}
div.jcf_edit_field label{
	background-color: #E9E9E9;
	border: 1px solid #DFDFDF;
    border-radius: 3px 3px 0 0;
	background:none;
	border:none;
    color: #333333;
    display: inline-block;
    margin: 5px 5px 0 0px;
    padding: 4px 20px 5px 0;
	font-size:13px;
	font-weight:bold;
	text-shadow:0 1px 0 #FFFFFF;
}

div.jcf_edit_field input,
div.jcf_edit_field select,
div.jcf_edit_field textarea{
	margin-top:0;
}
div.jcf_edit_field input.jcf-half-width { width: 50% !important; }

div.jcf_edit_field.jcf_form_inline { line-height: 30px;  }
div.jcf_edit_field.jcf_form_inline input[type=text] { height:28px; margin: 0 8px 8px 0; }
div.jcf_edit_field.jcf_form_inline .dashicons { line-height: 30px;  }

div.jcf_edit_field select { width:50%; }
div.jcf_edit_field select.jcf-multiple { height:auto; max-height: 200px; }
#poststuff .inside div.jcf_edit_field p.howto{
	margin:5px 0 0;
	font-size:12px;
}
.jcf-hide{
	display:none !important;
}
div.jcf_edit_field div.checkboxes-set{
	-moz-border-radius:4px 4px 4px 4px;
	border-radius:4px 4px 4px 4px;
	border:1px solid #DFDFDF;
	padding:5px 0 5px;
	overflow:hidden;
	width:100%;
	background:#fff;
}
div.jcf_edit_field div.checkboxes-set label{
	width:20%;
	margin:0 0 0 10px;
	float:left;
	font-weight:normal;
}
div.jcf_edit_field div.checkboxes-set input{
	width:auto ;
	margin-right:10px;
}
div.jcf_edit_field table.mceLayout{
	background:#fff;
	border:1px solid #ccc;
}

div.jcf_edit_field a.jcf-btn{
	background:#EEEEEE url("../../../../wp-admin/images/white-grad-active.png") repeat-x scroll left top;
	line-height:15px;
	padding:3px 10px;
	white-space:nowrap;
	text-shadow:0 1px 0 #FFFFFF;
	border-color:#BBBBBB;
	-moz-border-radius:11px 11px 11px 11px;
	-moz-box-sizing:content-box;
	border-radius:11px 11px 11px 11px;
	border-style:solid;
	border-width:1px;
	cursor:pointer;
	font-size:11px !important;
	display:block;
	float:left;
	margin:0 10px 0 0;
	text-decoration:none;
}
div.jcf_edit_field a:hover{
	color:#D54E21;
}
.postbox div.form-field .jcf-field-container {
	-moz-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	border:1px solid #DFDFDF;
	padding:5px 5px 0px;
	background:#fff;
}
div.jcf_edit_field .wp-editor-wrap{
	margin:-28px 0 0;
}
div.jcf_edit_field .quicktags-toolbar input{
	width:auto;
}
.jcf-get-shortcode{
	float:right;
	margin:5px 5% 0 10px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	position:relative;
	z-index:10;
}
.jcf-get-shortcode span.dashicons{
	font-size:24px;
}
.jcf-get-shortcode:hover{
	opacity:0.7;
}
.jcf_shortcodes_tooltip{
	display:none;
	position:absolute;
	right:0;
	top:0;
	background: #fff;
	width: 100%;
	z-index:9999;
}
.jcf_shortcodes_tooltip fieldset{
	border:1px solid #000;
	padding: 10px;
	margin-bottom: 15px;
}
.jcf_shortcodes_tooltip fieldset legend{
	font-size: 14px;
}
.jcf_shortcodes_tooltip fieldset legend, .jcf_shortcodes_tooltip fieldset label{
	font-weight: bold;
}
.jcf_shortcodes_tooltip fieldset .fieldset-description{
	display:block;
	margin-bottom: 10px;
}
.jcf_shortcodes_tooltip .jcf_inner_box{
	margin:10px;
	background:#fff;
	border:1px solid #C6C6C6;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.jcf_shortcodes_tooltip .jcf_inner_box .header{
	color:#333;
	background: #f1f1f1;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.8);
	line-height:30px;
	padding:0 10px;
	font-size:12px;
	border-bottom:1px solid #C6C6C6;
	margin:0;
}
.jcf_inner_content{
	padding:10px;
}
.jcf_inner_box .jcf_shortcodes_tooltip-close{
	position: absolute;
	text-decoration: none;
	top: 15px;
	right: 15px;
	width: 20px;
	height: 20px;
	z-index: 1000;
	-webkit-transition: color .1s ease-in-out,background .1s ease-in-out;
	transition: color .1s ease-in-out,background .1s ease-in-out;
}
.jcf_inner_box .jcf_shortcodes_tooltip-close:before{
	content: '\f158';
	font: 400 20px/1 dashicons;
	speak: none;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #666;
}
.copy-to-clipboard{
	width: 16px;
	height: 16px;
	background: url(../../../../wp-content/plugins/just-custom-fields/assets/copy.png) no-repeat;
	display: inline-block;
	cursor: pointer;
}
input.jcf-shortcode{
	display:inline-block;
	margin-right: 5px;
	width: 90%!important;
}
.jcf-relative{
	position:relative;
}
span.jcf_copied_to_clip{
	position:absolute;
	top: -2px;
	right: 25px;
}
#poststuff h3{
	font-size: 14px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
	font-weight: normal;
	color: #212121;
}
.jcf_edit_field .wp-editor-tools { left:25%; width: 75%; }
.jcf_edit_field.field_datepicker .dashicons { line-height: 28px; }

/* right column styles */
#post-body.columns-2 #postbox-container-1 div.jcf_edit_field select { width: 95% }
#post-body.columns-2 #postbox-container-1 div.jcf_edit_field div.checkboxes-set label {	font-size: 12px; width: 95%; float:none; }

[id*="jcf_field-checkbox-"] input[type=radio], [id*="jcf_field-checkbox-"] input[type=checkbox]{
    width: 16px!important;
}
@media screen and (max-width: 850px) {
	[id*="jcf_fieldset-"] .form-field input[type=text], 
	[id*="jcf_fieldset-"] .form-field input[type=password], 
	[id*="jcf_fieldset-"] .form-field input[type=email], 
	[id*="jcf_fieldset-"] .form-field input[type=number], 
	[id*="jcf_fieldset-"] .form-field input[type=search], 
	[id*="jcf_fieldset-"] .form-field input[type=tel], 
	[id*="jcf_fieldset-"] .form-field input[type=url], 
	[id*="jcf_fieldset-"] .form-field textarea,
	div.jcf_edit_field select {
		width: 100%;
	}
	[id*="jcf_fieldset-"] .form-field .jcf-relatedcontent-field p input {
		width: 70%;
	}
	.jcf-get-shortcode {
		margin: 5px 0 0;
		width: 20px;
		height: 20px;
	}
}

@media screen and (max-width: 782px) {
	[id*="jcf_field-checkbox-"] input[type=radio], [id*="jcf_field-checkbox-"] input[type=checkbox]{
    	width: 25px!important;
	}
	[id*="jcf_fieldset-"] [id*="jcf_field-table-"] tr:not(.inline-edit-row):not(.no-items) td:not(.check-column){
	    display: table-cell;
	}
}

@media screen and (max-width: 480px){
	div.jcf_edit_field div.checkboxes-set label {
		width: 94%
	}
}
@media screen and (max-width: 435px){
	[id*="jcf_field-simplemedia-"] .jcf-simple-container {
		position: relative;
	}
}
