ul.dotted-list{
	list-style:circle;
	padding:0;
}
ul.dotted-list li{
	list-style:none;
	padding:0;
}
.jcf-bold{
	font-weight:bold;
}
a.jcf_change_pt{
	font-weight:normal;
	margin:0 0 0 20px;
	text-shadow:none;
}
div.jcf_columns{
	float:left;
}
.jcf_width33p{
	width:30%;
}
.jcf_width40p{
	width:40%;
}
.jcf_width50p{
	width:49%;
}
.jcf_width66p{
	width:63%;
}
.mrgr20{
	margin-right: 20px;
}
.jcf_clear{
	width:100%;
	overflow:hidden;
	height:0;
	clear:both;
}
.jcf_inner_box{
	margin:10px;
	background:#fff;
	border:1px solid #C6C6C6;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.admin-color-classic .jcf_inner_box{
	border-color:#D1E5EE;
}
.jcf_inner_box .header{
	color:#333;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.8);
	line-height:30px;
	padding:0 10px;
	font-size:12px;
	border-bottom:1px solid #C6C6C6;
	margin:0;
}
.admin-color-classic .jcf_inner_box .header{
	background:#F5FAFD;
	background-image:-moz-linear-gradient(center top , #F7FCFE, #EFF8FF);
}
.jcf_inner_content{
	padding:10px;
}
.jcf_inner_content .offset20{
	padding:0 0 0 20px;
}
.jcf_inner_content.offset0{
	padding:0;
}
.jcf_inner_content .nowrap{
	white-space:nowrap;
}
.jcf_form_horiz input.text{
	width:70%;
}
.jcf_form_horiz select{
	width:60%;
}
select.jcf_add_field{
	width:200px;
}
.jcf_inner_content .drag-handle, h3.header .drag-handle{
	cursor: move;
	background:url(icon-move.png) no-repeat 0 0;
	display:block;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-9999px;
	margin:6px 5px 0 7px;
}
h3.header .drag-handle{
	display: inline-block;
	margin:6px 20px 0 7px;
}
#jcf_ajax_container{
	display:none;
}
.jcf_inner_box .header .ajax-feedback{
	margin:0 0 7px;
}
#jcform_add_fieldset .ajax-feedback,
form.jcform_add_field .ajax-feedback{
	margin:0 0 5px;
}
#jcf_fieldsets .sortable_placeholder,
#jcf_fieldsets .sortable_placeholder td,
#jcf_fieldsets .collection_sortable_placeholder,
#jcf_fieldsets .collection_sortable_placeholder td{
	background:#FFFFF0;
}
.jcf-export-list li{
	padding-left: 20px;
}
.jcf_hide_field_settings{
	display:none;

}

.jcf_tabs{
	overflow:hidden;
	margin:10px auto;
	zoom:1;
	padding:1px;
	position:relative;
}
.jcf_tabs dl a.jcf_tabs_link:hover{
	text-decoration: none;
}
.jcf_tabs dt{
	border:1px solid #BABABA;
	border-bottom:none;
	font:16px Arial, Helvetica, sans-serif;
	color: #157ABA;
	position: relative;
	float:left;
	height:2em;
	line-height:2;
	background:#F1F1F1;
	padding:0 1em;
	position:relative;
	margin:0 0 0 6px;
	cursor:pointer;
	border-radius:8px 8px 0 0;
}
.jcf_tabs dt:hover{
	background-color:#ffffff;
}
.jcf_tabs dt.jcf_selected{
	background:#F1F1F1;
	z-index:3;
	cursor:auto;
	color:#4C4C4C;
	text-decoration:none;
}
.jcf_tabs dd{
	background:#F1F1F1;
	display:none;
	float:right;
	width:100%;
	margin:32px 0 0 -100%;
	position:relative;
	z-index:2;
	border-radius:2px 8px 8px 2px;
}
.jcf_tabs dd.jcf_selected{
	display:block;
}
.jcf_tabs .jcf_tab-content{
	border-top:1px solid #BABABA;
	border-left:1px solid #BABABA;
	padding:5px 5px 5px 5px;
	border-radius:2px 8px 8px 2px;
}
.jcf_inner-tab-content{
	padding:20px;
	overflow: auto;
}
.jcf_inner-tab-content .card{
	max-width: 980px;
}
.jcf_tab-content input, .jcf_tab-content label{
	margin-bottom: 10px;
}
.jcf_tab-content label{
	display: inline-block;
}
.jcf_modalWindow{
	position: fixed;
	top: 150px;
	left: 200px;
	right: 50px;
	bottom: 50px;
	z-index: 160000;
}
.jcf_modalWindow .media-modal-content{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	min-height: 300px;
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.7);
	box-shadow: 0 5px 15px rgba(0,0,0,.7);
	background: #f1f1f1;
	-webkit-font-smoothing: subpixel-antialiased;
	padding: 20px;
}
.jcf_modalWindow #jcf_save_import_fields_content,
.jcf_modalWindow #jcf_save_export_fields_content{
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	bottom: 80px;
	overflow: auto;
	min-height: 300px;
	background: #fff;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 0 0 0 30px;
}
.jcf_modalWindow .jcf-modal-button{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
	overflow: auto;
	min-height: 40px;
	background: #f1f1f1;
	text-align: right;
	padding:20px;
}
.jcf_modalWindow .media-modal-close{
	position: absolute;
	text-decoration: none;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	z-index: 1000;
	-webkit-transition: color .1s ease-in-out,background .1s ease-in-out;
	transition: color .1s ease-in-out,background .1s ease-in-out;
}
.jcf_modalWindow .media-modal-close:before{
	content: '\f158';
	font: 400 20px/1 dashicons;
	speak: none;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #666;
}
#jcf_save_import_fields .check-column,
#jcf_export_fields .check-column{
	text-align: center;
}
.jcf_export-content-type{
	margin-bottom: 50px;
}
.jcf_tile{
	display: block;
	width: 25%;
	height: auto;
	padding: 20px;
	margin: 3px;
	text-decoration: none;
	background: #fff;
	font-size: 18px;
	color: #a0a5aa;
	border: 3px solid #f2f2f2;
	box-shadow: 0 0 1px  #a0a5aa;
	float: left;
}
.jcf_tile .jcf_tile_icon:before{
  content: "\f109";
}
.jcf_tile.post .jcf_tile_icon:before{
  content: "\f109";
}
.jcf_tile.page .jcf_tile_icon:before{
  content: "\f105";
}
.jcf_tile.attachment .jcf_tile_icon:before{
  content: "\f104";
}
.jcf_tile .jcf_tile_icon:before{
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 20px;
	line-height: 1;
	font-family: dashicons;
	text-decoration: inherit;
	font-weight: 400;
	font-style: normal;
	vertical-align: top;
	text-align: center;
}
.jcf_tile .jcf_tile_icon{
	width: 36px;
	height: 34px;
	display: block;
	text-align: center;
	float: left;
}
.jcf_tile:hover{
	color: #0073aa;
	border: 3px solid #0073aa;
}
.jcf_tile .jcf_tile_info{
	display: block;
	font-size: 10px;
	font-weight: normal;
}
.jcf_tile .jcf_tile_title{
	display: block;
	height: 40px;
}
#jcform_settings input{
	display: block;
	float:left;
	margin: 0 10px 0 0;
}
.jcf_checkbox_block{
	display: inline-block;
	width: 33px;
	margin-right: 10px;
	text-align: center;
}
.jcf_tab-content input[type="file"]{
	margin-bottom: 0;
}
.row-actions .delete_collection a{
	color: #a00;
}
.row-actions .delete_collection a:hover{
	color: red;
}
