ul.dotted-list{
	list-style:circle;
	padding:0;
}
ul.dotted-list li{
	list-style:none;
	padding:0;
}
.jcf-bold{
	font-weight:bold;
}
a.jcf_change_pt{
	font-weight:normal;
	margin:0 0 0 20px;
	text-shadow:none;
}
div.jcf_columns{
	float:left;
}
.jcf_width33p{
	width:36%;
}
.jcf_width40p{
	width:40%;
}
.jcf_width50p{
	width:49%;
}
.jcf_width66p{
	width:63%;
}
.mrgr20{
	margin-right: 20px;
}
.jcf_clear{
	width:100%;
	overflow:hidden;
	height:0;
	clear:both;
}
.jcf_inner_box{
	margin:10px;
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.jcf_inner_box .header{
	font-size: 14px;
	line-height: 1.4;
	margin: 0;
	padding: 8px 12px;
	border-bottom: 1px solid #eee;
	color:#23282d;
}
#jcf_fieldsets .jcf_inner_box h3.header {
	font-weight: normal;
}
.jcf_inner_content{
	padding:10px;
}
.jcf_inner_content .offset20{
	padding:0 0 0 20px;
}
.jcf_inner_content.offset0{
	padding:0;
}
.jcf_inner_content .nowrap{
	white-space:nowrap;
}
.jcf_form_horiz input.text{
	width:70%;
}
.jcf_form_horiz select{
	width:60%;
}
select.jcf_add_field{
	width:200px;
}
.jcf_inner_box .drag-handle{
	cursor: move !important;
}
.jcf_inner_box .submitdelete{
	color:#a00;
}
.jcf_inner_box .submitdelete:hover{
	color:#f00;
}

#jcf_ajax_container{
	display:none;
}

body.jcf-loading,
body.jcf-loading a,
body.jcf-loading input
body.jcf-loading select{
	cursor: wait !important;
}

#jcf_fieldsets .sortable_placeholder,
#jcf_fieldsets .sortable_placeholder td,
#jcf_fieldsets .collection_sortable_placeholder,
#jcf_fieldsets .collection_sortable_placeholder td{
	background:#FFFFF0;
}
.widefat .jcf-check-column {
	width:2.2em;
}

.jcf-export-list li{
	padding-left: 20px;
}
.jcf_hide_field_settings{
	display:none;

}

.jcf_tabs{
	overflow:hidden;
	margin:10px auto;
	zoom:1;
	padding:1px;
	position:relative;
}
.jcf_tabs dl a.jcf_tabs_link:hover{
	text-decoration: none;
}
.jcf_tabs dt{
	border:1px solid #BABABA;
	border-bottom:none;
	font:16px Arial, Helvetica, sans-serif;
	color: #157ABA;
	position: relative;
	float:left;
	height:2em;
	line-height:2;
	background:#F1F1F1;
	padding:0 1em;
	position:relative;
	margin:0 0 0 6px;
	cursor:pointer;
	border-radius:8px 8px 0 0;
}
.jcf_tabs dt:hover{
	background-color:#ffffff;
}
.jcf_tabs dt.jcf_selected{
	background:#F1F1F1;
	z-index:3;
	cursor:auto;
	color:#4C4C4C;
	text-decoration:none;
}
.jcf_tabs dd{
	background:#F1F1F1;
	display:none;
	float:right;
	width:100%;
	margin:32px 0 0 -100%;
	position:relative;
	z-index:2;
	border-radius:2px 8px 8px 2px;
}
.jcf_tabs dd.jcf_selected{
	display:block;
}
.jcf_tabs .jcf_tab-content{
	border-top:1px solid #BABABA;
	border-left:1px solid #BABABA;
	padding:5px 5px 5px 5px;
	border-radius:2px 8px 8px 2px;
}
.jcf_inner-tab-content{
	padding:20px;
	overflow: auto;
}
.jcf_inner-tab-content .card{
	max-width: 980px;
}
.jcf_tab-content input, .jcf_tab-content label{
	margin-bottom: 10px;
}
.jcf_tab-content label{
	display: inline-block;
}
.jcf_modalWindow{
	left: 100px;
	right: 100px;
}
.jcf_modalWindow #jcf_save_import_fields_content,
.jcf_modalWindow #jcf_save_export_fields_content{
	position: absolute;
	top: -1px;
	left: 0;
	right: 0;
	bottom: 55px;
	overflow: auto;
	min-height: 300px;
	background: #fff;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 0 0 0 15px;
}
.jcf_modalWindow .jcf-modal-button{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
	overflow: auto;
	height: 25px;
	background: #f1f1f1;
	text-align: left;
	padding:15px;
}
.jcf_export-content-type{
	margin-bottom: 50px;
}
.jcf_checkbox_block{
	display: inline-block;
	margin-right: 10px;
	text-align: center;
}
.jcf_modalWindow .jcf_inner_box {
	margin-left: 34px;
}
.jcf_modalWindow .widefat th { font-weight: bold; font-style: italic; padding: 4px 10px; }
.jcf_modalWindow .widefat td { font-weight: normal; }
.jcf_modalWindow .check-column {
	text-align: center;
}
.jcf_tile{
	display: block;
	width: 25%;
	height: auto;
	padding: 20px;
	margin: 3px;
	text-decoration: none;
	background: #fff;
	font-size: 18px;
	color: #a0a5aa;
	border: 3px solid #f2f2f2;
	box-shadow: 0 0 1px  #a0a5aa;
	float: left;
}
.jcf_tile .jcf_tile_icon{
	width: 36px;
	height: 34px;
	display: block;
	text-align: center;
	float: left;
}
.jcf_tile:hover{
	color: #0073aa;
	border: 3px solid #0073aa;
}
.jcf_tile .jcf_tile_info{
	display: block;
	font-size: 10px;
	font-weight: normal;
}
.jcf_tile .jcf_tile_title{
	display: block;
	height: 40px;
}
#jcform_settings input{
	display: block;
	float:left;
	margin: 0 10px 0 0;
}
.jcf_tab-content input[type="file"]{
	margin-bottom: 0;
}
fieldset#fieldset_visibility_rules{
	border: 1px solid #ddd;
	padding: 10px;
}
#fieldset_visibility_rules select{
	width:40%;
}
.visibility-terms-ai-wrapper .ui-autocomplete-input {
	width:40%;
}
a.visibility_toggle{
	text-decoration: none;
	color: #000000;
}
a:focus{
	outline:none;
}
.visibility-terms-ai-wrapper{
	margin:-10px 0 0px;
	padding: 0 0 15px;
}

ul.visibility-list-items{
	width: 100%;
	overflow: hidden;
	margin:-10px 0 0;
}
ul.visibility-list-items li{
	width: 32%;
	float: left;
	padding-right:1%;
}
ul.visibility-list-items.visibility-list-items-tpl li { width:49%; }
.row-actions .delete_collection a{
	color: #a00;
}
.row-actions .delete_collection a:hover{
	color: red;
}
