.jcf-relatedcontent-field .jcf-relatedcontent-row{
	width:100%;
	overflow:hidden;
	position:relative;
	padding:7px 0;
	border-bottom:1px dotted #999;
}
.jcf-relatedcontent-field .jcf-delete-layer{
	position:absolute;
	top:0;
	left:0;
	display:none;
	width:100%;
	height:80px;
}
div.jcf_edit_field .jcf-relatedcontent-field .jcf_delete{
	float:left;
	margin: 0 0 0 15px;
	color:#a00;
	text-decoration: none;
}
div.jcf_edit_field .jcf-relatedcontent-container .dashicons{
	line-height: 28px;
}
#poststuff .inside .jcf-relatedcontent-field p{
	margin:0;
	position:relative;
}
.jcf-relatedcontent-field p{
	overflow:hidden;
}
.form-field .jcf-relatedcontent-field p input{
	width:70%;
	float:left;
	margin-left:10px;
}
.jcf-relatedcontent-field p select{
	width:80%;
	float:left;
	margin-left:10px;
}
.jcf-relatedcontent-field p span.loading{
	position:absolute;
	top:4px;
	left:84%;
	background:url(assets/ajax-loader.gif) no-repeat 0 0;
	height:16px;
	width:16px;
	display:block;
	text-indent:-9999px;
}
.jcf-relatedcontent-field .jcf-delete-layer a{
	position:absolute;
	top:10px;
	left:75%;
	text-decoration: none;
	font-weight: bold;
	color: #1e8cbe;
	opacity: 0.8;
}
.jcf-relatedcontent-field .jcf-delete-layer .jcf_tobe_removed{
	opacity:0.7;
	color:#a00;
	font-weight: bold;
	position:absolute;
	left:100px;
	top:10px;
	font-size:15px;
}
.jcf-relatedcontent-field a.jcf_add_more{
	margin:10px 10px 0 0 !important;
}
.jcf-relatedcontent-field .drag-handle{
	cursor: move;
	display: inline-block;
	float: left;
}
.jcf-relatedcontent-field .sortable-placeholder{
	height: 52px;
}
